In [5]:
import pandas as pd

data = pd.read_csv('Letak Rumah.csv')
df = pd.DataFrame(data)
data

   RUMAH  LAT  LONG     LOKASI
0      A   11    26       KOTA
1      B   15    29       KOTA
2      C   19    28       KOTA
3      D   18    30       KOTA
4      E   16    26       KOTA
5      F   23    25  KABUPATEN
6      G   25    22  KABUPATEN
7      H   21    24  KABUPATEN
8      I   23    25  KABUPATEN
9      J   29    24  KABUPATEN
10     X   19    25          ?

In [5]:
# Koordinat rumah X
rumah_x = (19, 25)

# Fungsi menghitung jarak Euclidean
def euclidean_distance(r1, r2):
    return math.sqrt((r1[0] - r2[0]) ** 2 + (r1[1] - r2[1]) ** 2)

# Menghitung jarak rumah X dengan setiap rumah lainnya
jarak_rumah_x = {}
for rumah, (lat, long, lokasi) in rumah_data.items():
    jarak_rumah_x[rumah] = (euclidean_distance(rumah_x, (lat, long)), lokasi)

# Urutkan berdasarkan jarak
sorted_jarak = sorted(jarak_rumah_x.items(), key=lambda x: x[1][0])

# Tampilkan 5 tetangga terdekat (k=5)
sorted_jarak[:5]

[('H', (2.23606797749979, 'Kabupaten')),
 ('C', (3.0, 'Kota')),
 ('E', (3.1622776601683795, 'Kota')),
 ('F', (4.0, 'Kabupaten')),
 ('I', (4.0, 'Kabupaten'))]